body {
  color: white;
  background-color: #0d1117;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.cv {
  color: #58a6ff;
  padding: 30px;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 100%;
  border: 3px solid #58a6ff;
  height: 170px;
  width: 170px;
}

.bio {
  margin-left: 30px;
}

.bio p {
  margin-top: 50px;
}

.bio h2 {
  color: #58a6ff;
}

hr {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 55%;
  border: 1px solid black;
}

.flex-alignment {
  display: flex;
  flex-wrap: wrap;
}

.flex-alignment div {
  background-color: #161b22;
  width: 49%;
  border-radius: 30px;
}

.flex-alignment h2 {
  color: #58a6ff;
  text-align: center;
}

.flex-alignment h4 {
  margin-left: 50px;
}
.flex-alignment li {
  margin-left: 60px;
}
.personal p {
  margin-left: 100px;
}
